/* 3pp style */

/* ----------------
  Cross Icon
  <span class="cross-stand-alone"></span> */
.cross-stand-alone {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
  right: 8px;
  top: 1px;
  cursor: pointer;
}
.cross-stand-alone:before, .cross-stand-alone:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background: white;
  border-radius: 4px;
}
.cross-stand-alone:before { transform: rotate(45deg); }
.cross-stand-alone:after { transform: rotate(-45deg); }
.cross-stand-alone span { display: block; }


/* ----------------
  Loading Icon
  <div class="lds-dual-ring"></div> */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}