#mainPanel {
	position: absolute;

	width: 1024px;
	height: 733px;
	margin-left: calc(-1080px/2);
	left: calc(100vw/2);
	border: solid #29292a 5px;
	border-top-width: 35px;
	background-color: #cdd2db;
	overflow: hidden;
}

/* Toolbar  */
#_toolbar {
	width: 100%;
	height: 75px;
	background: #454752;
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #454752;
}
#_toolbar_leftGroup, #_toolbar_rightGroup {
	display: flex;
	align-items: flex-end;
}
#_toolbar ._btn_group {
	display: flex;
	margin-right: 5px;
}
#_toolbar ._btn {
	width: 75px;
	height: 70px;
	background-color: #646778;
	margin: 0 1px;
	padding: 5px 0 0 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}
#_toolbar ._btn:hover { background-color: #818499; }
#_toolbar ._btn:active,#_toolbar ._btn.active { background-color: #353e68; }
#_toolbar ._btn ._icon {
	height: 50px;
	width: 50px;
	background-size: contain;
}
#_toolbar ._btn ._label {
	font-size: .4rem;
	color: #d1d1d1;;
}
#_toolbar #btn_import ._icon { background-image: url("../image/icons/import-icon.png"); }
#_toolbar #btn_export ._icon { background-image: url("../image/icons/save.png"); }
#_toolbar #btn_to_general ._icon { background-image: url("../image/icons/cog.png"); }
#_toolbar #btn_to_actor ._icon { background-image: url("../image/icons/mona-lisa.png"); }
#_toolbar #btn_to_script ._icon { background-image: url("../image/icons/open-book.png"); }
#_toolbar #btn_to_info ._icon { background-image: url("../image/icons/info.png"); }
#_toolbar #_sign {
	color: #d1d1d1;
	font-style: italic;
	padding: .5rem;
}
#_toolbar #_logo {
	width: 75px; height: 75px;
	background-image: url("../image/icons/favicon.png");
	background-size: contain;
	background-repeat: no-repeat;
}

/* Message Bar */
#_msgbox {
	display: none;
	position: absolute;
	width: 600px;
	top: 87px;
	left: calc(50%);
	z-index: 100;
	margin-left: calc(-600px/2);
	border-radius: 5px;

	background: #f6ffdf;
	color: black;

	padding: 5px;
	text-align: center;
}
#_msgbox.success { background: #7ced99; }
#_msgbox.warn { background: #ffbe46; }
#_msgbox.error { background: #ed7f7f; }

/* Control Window */
._ctrlwindow {
	display: none;
	position: absolute;
	top: 150px;
	left: calc(50%);
	z-index: 50;
	width: 600px;
	height: 400px;
	margin-left: calc(-600px/2);
	border: 2px solid #29292a;
	
	background: #cdd2db;
	color: black;
}
._ctrlwindow ._ctrlbar {
	height: 30px;
	background: #29292a;
	color: white;
	display: flex;
  justify-content: space-between;
}
._ctrlbar div {
	padding: 5px;
}
._ctrlwindow ._ctrlwindow_cancel {
	width: 25px; height: 25px;
}
._ctrlwindow ._ctrlbody {
	height: calc(100% - 120px);
	padding: 10px;
}
._ctrlwindow ._ctrlfooter{
	height: 50px;
	bottom: 0;
}
._ctrlwindow #_output_imgPreview {
	background-color: #9aa0ab;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: calc(100% - 55px);
}
._ctrlwindow #_input_content {
	width: 100%;
	height: calc(100% - 85px);
	font-size: 1rem;
	resize: none;
}

/* Workspace  */
#_workspace {
	width: 100%;
	display: flex;
}
#_workspace #_leftCol, #_workspace #_rightCol {
	height: 670px;
}
#_workspace #_leftCol {
	width: 237px;
	background: #454752;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}
#_workspace #_rightCol {
	width: calc(100% - 237px);
	overflow-y: hidden;
}

/* Left Colume  */
#_leftCol .title {
	background: #0a103a;
	padding: 8px 0;
	width: 100%;

	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	color: white;
}
#_leftCol .Entry {
	background: #f0f4ff;
	width: calc(100% - 32px);
	padding: 10px 10px;
	border: 2px solid #1f2650;
	margin: 1px 2px;
}
#_leftCol .Entry:hover { background-color: #acb5cf; }
#_leftCol .Entry:active, #_leftCol .Entry.active { background-color: #5b6789; color: white; }
#_leftCol .Entry.disable { color:#bfbfbf; cursor: auto !important; }

/* Actor  */
._actor_frame { display: flex; }
._actor_headImg_frame {
	width: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
._actor_headImg {
	width: 150px;
	height: 150px;
	background-color: white;
	background-size: cover;
	border: solid black 2px;
}
._actor_headImg div {
	text-align: center;
	color: #646464;
	padding-top: 65px;
}

._actor_basicInfo_frame {
	width: 600px;
}
._entry_title {
	width: 120px;
	text-align: right;
	font-weight: bold;
}
._entry_content {
	width: calc(100% - 120px);
}


/* Script */
#_script_ctrlPanel{
	height: 130px;
}
#_script_listPanel{
	height: 520px;
	overflow-y: auto;
	background: #252730;
}

._scriptEntry { margin: 5px 5px; }
._scriptEntry.clickable:hover { border: 2px solid #999; }
._scriptEntry.clickable:active, ._scriptEntry.clickable.active { border: 4px solid #ff2525; }

._scriptEntry.SOF, ._scriptEntry.EOF {
	text-align: center;
	font-size: 0.8rem;
	text-decoration: underline;
	border-radius: 5px;
	margin: 5px 200px;
	padding: 3px;
}
._scriptEntry.SOF { background: #fff; color: black; }
._scriptEntry.EOF { background: #ab0000; color: white; }

._scriptEntry.otherCh {
	width: calc(100% - 359px);
	margin-left: 350px;
	text-align: right;
	border: 1px solid #6a6a6a;
}
._scriptEntry.otherCh:active, ._scriptEntry.otherCh.active { margin-left: 346px; }
._scriptEntry.otherCh ._scriptEntry_talkContent {
	background: black;
	color: white;
}

._scriptEntry_talkActor{
	padding: 5px 10px;
	background: #363638;
}
._scriptEntry_talkContent{
	padding: 5px 10px 5px 15px;
	background: #ddd;
	font-size: 0.9rem;
}
._scriptEntry_specialCmd{
	padding: 5px 10px;
	font-size: 0.8rem;
	background: #005fa3;
	color: white;
}
._scriptEntry_image {
	height: 120px;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ddd;
}


/* File  */
#_uploadFile { display: none; }

/* Save Button */
._btn_save, ._btn_preview {
	width: 100px;
	padding: 15px;
	background: #34446e;
	color: white;
	cursor: pointer;
}
._btn_save:hover { background: #5b6b95; }
._btn_save:active { background: #232e4a; }

._btn_preview { background: #646778; }
._btn_preview:hover { background: #818499; }
._btn_preview:active { background: #353e68; }

/* Others */
.infoBlock {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;

	background-color: #fff;
	width: calc(100% - 42px);
	text-align: left;
}
#_rightCol h2 {
	margin: 10px;
}
.hidden { display: none; }
.row { margin: 10px; }
.flex { display: flex; align-items: center; }
.clickable { cursor: pointer; }
.right { text-align: right; }
.vcneter { display: flex; align-items: center; }
.fullWidth { width: 100%; }
input[type=text] { height: 25px; }
input[type=text].long { width: 100%; }
input[type=checkbox] { height: 18px; width: 18px; margin: 0 8px; }
select { height: 25px; }